body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.carousel-indicators li {
  border: 1px solid black;
  background-color: #428bca;
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: #428bca;
  opacity: 1.0;
}

.carousel-control {
  color: #428bca;
  opacity: 0.5;
}

.carousel-control:hover {
  color: #428bca;
}

.details {
  font-size: 80%;
}

.action-btn {
  margin-top: 30px;
}

.trigger-text {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 70%;
  color: #666;
}

.card {
  margin: 20px;
  padding: 10px;
  width: 400px;
  font-family: arial;
  font-size: 16px;
  text-align: center;
  color: black;
  background-color: white;

  border: 1px solid #666;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    3px 3px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.5);
}

.card .source {
  margin-top: 20px;
  font-size: 14px;
  font-style: italic;
  color: grey;
}

.card hr {
  margin: 10px -10px;
  height: 1px;
  background: #666;
}