---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/language/translate/v2?key=<GOOGLE_API_KEY>&prettyPrint=false&target=en
    body:
      encoding: UTF-8
      string: q=Je+m%27appelle+Jean
    headers:
      X-Http-Method-Override:
      - GET
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Viy__W59LjqerLGB-z0vClrb1lM/aLGgdqKvmR7Of6QQRx8h2fAe7aA"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"data":{"translations":[{"translatedText":"My name is Jean","detectedSourceLanguage":"fr"}]}}'
  recorded_at: Sat, 23 Nov 2013 20:54:03 GMT
recorded_with: VCR 2.7.0
