%noscript
  %h1 We're sorry, but JavaScript is required!
  %p
    If you wish to use SRS Collector, please enable JavaScript in your
    browser.  Because we want to allow you to enter cards quickly and
    efficiently, we do all network operations in the background while
    you work.
  %p
    On the bright side, this allows you try out the site without
    creating an account.
