.flash-box
  margin: 0 0 20px 0
  padding: 5px
  .message
    margin: 0

.notice-box
  border: 1px solid #0f0
  background: #cfc
  color: #0f0

.error-box
  border: 1px solid #f00
  background: #fcc
  color: #f00

