<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.title %}
    <title>{{ page.title }} — {{ site.name }}</title>
{% else %}
    <title>{{ site.name }}</title>
{% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.srscollector.com/">
            {{ site.name }}
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">
          {{ content }}
        </div>
        <div class="sidebar col-sm-4">
          <a href="https://twitter.com/srscollector">@srscollector</a><br>
          <a href="https://github.com/kiddsoftware/srscollector">GitHub</a><br>
          <a href="/rss.xml">RSS</a>
        </div>
      </div>
    </div>
  </body>
</html>
